body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading{

  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
  background: linear-gradient(90deg, rgb(116, 113, 165) 0%, rgba(131,131,233,1) 35%, rgb(143, 145, 231) 87%);}

  .btn1,.btn2{
    background: rgb(152, 152, 216);
    color: rgb(0, 2, 117);
    font-weight: bold;
  }
  